[Unit]
Description=Run Hetzner DDNS every 5 minutes
Documentation=https://github.com/Lunicorn/HetznerDDNSPy

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
AccuracySec=10s
Unit=hetzner_ddns.service

[Install]
WantedBy=timers.target
